# Fabric Network Artifacts
network/crypto-config/
network/channel-artifacts/
network/organizations/
network/system-genesis-block/
*.block
*.tx

# Keystores and Wallets
wallet/
keystore/
*.pem
*_sk

# Go
chaincode/vendor/
chaincode/bin/
*.exe
*.test
go.sum

# System
.DS_Store
.idea/
.vscode/

# Docker
network/docker/volumes/
